
body{
	font-size: 13px;
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back{
	margin-left: 3%;
  margin-top: 2em;
}
a{
 	font-family: 'Galindo', cursive;
  font-size: 1.6em;
  color: black;
  text-decoration: underline;
}
.container {
  width: 65vw;
  max-width: 650px;
  height: 75vh;
  max-height:  750px;
  margin-top: 3%;
	background-color: #C5E0DC;
	border: 4px solid #382A4D;
	border-radius: 10px;
	box-shadow: 3px 3px 5px grey;
}
.title {
  margin: 2% auto 2% auto;
  height: 6%;
	font-family: 'Galindo', cursive;
	text-align:center;
	color:#C8225A;
}
.screen {
  height: 25%;
  width: 80%;
  margin: 3% auto;
  font-family: "Offside", cursive;
	background-color: white;
	border: 1px solid #033649;
	border-radius: 10px;
}
.high-screen {
	height:25%;
	font-size: 1.3em;
	color:black;
	padding: 2px 14px 0 5px;
}
.low-screen {
	height:75%;
	font-size: 3em;
	color:black;
	padding: 10px 14px 0 15px;
}
.result{
	text-align:right;
}
.input{
	text-align:right;
}
.buttons-row {
  height: 65%;
}
.numbers-container {
  height: 100%;
	font-family: 'Galindo', cursive;
}
.number-row {
  height:25%;
}
.number-button {
	height:90%;
	width: 20%;
	margin-left: 8%;
	margin-top: 2%;
	background-color:black;
	color:white;
	font-size: 1.5em;
	padding-top: 2.5%;
}
#zero {
	width:49%;
}
.functions-container {
  height:100%;
	font-family: 'Galindo', cursive;
} 
.functions-row {
	height:25%;
}
.function-button {
	height:90%;
	width: 27%;
	margin-left: 13%;
	margin-top: 3%;
	padding-top: 2.5%;
	background-color:black;
	color:white;
	font-size: 1.5em;
}
#AC {
	background-color:white;
	color:#C8225A;
}
#C {
	background-color:white;
	color:#C8225A;
}
#equal {
	background-color:#C8225A;
	width: 70%;
}
.link{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.link a{
  color: black;
  font-size: 1.6em;
  font-family: 'Galindo', cursive;
}
/*
@media screen and (max-width:639px) and (orientation: portrait){
	.container{
		width: 90%;
	}
}
*/
@media screen and (max-width:732px){
	body{
		font-size: 10px;
	}
	.low-screen{
		font-size: 2.5em;
	}
}

@media screen and (max-width:780px) and (orientation: portrait){
	.container{
		height: 50vh;
		width: 70vw;
	}
}
@media screen and (max-width:440px) and (orientation: portrait){
	.container{
		height: 50vh;
		width: 90vw;
	}
}
@media screen and (min-width:1440px){
	body{
		font-size: 22px;
	}
}
